# Environment variables template

# Hugging Face
TF_VAR_hf_token=
TF_VAR_project_id=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

# Azure (for Terraform)
ARM_CLIENT_ID=
ARM_CLIENT_SECRET=
ARM_SUBSCRIPTION_ID=
ARM_TENANT_ID=
TF_VAR_admin_password=